.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #212529;
    color: white;
    transition: width 0.25s ease;
}

    .sidebar .logo {
        font-weight: 600;
        font-size: 1.1rem;
    }

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #adb5bd;
    padding: 12px 16px;
    text-decoration: none;
}

    .sidebar-link:hover {
        background-color: #343a40;
        color: #fff;
    }

    .sidebar-link.active {
        background-color: #0d6efd;
        color: white;
    }

    .sidebar-link i {
        font-size: 1.2rem;
    }

/* 🔥 MODO COLAPSADO */
.sidebar.collapsed {
    width: 70px;
}

    .sidebar.collapsed .text,
    .sidebar.collapsed .logo {
        display: none;
    }

    .sidebar.collapsed .sidebar-link {
        justify-content: center;
    }


.sidebar-toggle {
    background-color: transparent;
    border: 1px solid #e5e7eb;
    color: #374151;
}

    .sidebar-toggle:hover {
        background-color: #f3f4f6;
    }
